<div class="ghost-navigation " style="background-color: #563d7c;">
  <h1 class="navbar-brand customBrand">
    <%= image_tag('logo-dark.png',:class=>'logo-dark') %>
  </h1>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="ghost-side-nav">
      <ul>
        <form class="ghost-search">
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Search..."
            aria-label="Search"
          />
          <hr />
        </form>
        <div class="ghost-scroll">
          <li><a href="#home">Home</a></li>
          <li><a href="#widgets">Widgets</a></li>
          <li><a href="#admin-panels">Admin Panels</a></li>
          <li><a href="#help">How to use</a></li>
        </div>
      </ul>
    </div>
    <div class="ghost-body">
      <!-- Ghost Widgets -->
      <h2 id="widgets">Ghost Widgets</h2>
      <h3>
        Try to scroll this area, and see how the sidenav sticks to the page
      </h3>
      <section>
        <p>
          Notice that this div element has a left margin of 25%. This is because
          the side navigation is set to 25% width. If you remove the margin, the
          sidenav will overlay/sit on top of this div.
        </p>
        <p>
          Also notice that we have set overflow:auto to sidenav. This will add a
          scrollbar when the sidenav is too long (for example if it has over 50
          links inside of it).
        </p>
      </section>

      <!-- Admin Panels -->
      <h2 id="admin-panels">Admin Panels</h2>
      <h3>
        Try to scroll this area, and see how the sidenav sticks to the page
      </h3>
      <section>
        <p>
          Notice that this div element has a left margin of 25%. This is because
          the side navigation is set to 25% width. If you remove the margin, the
          sidenav will overlay/sit on top of this div.
        </p>
        <p>
          Also notice that we have set overflow:auto to sidenav. This will add a
          scrollbar when the sidenav is too long (for example if it has over 50
          links inside of it).
        </p>
      </section>

      <!-- Landing Pages -->
      <h2 id="help">Landing pages</h2>
      <h3>
        Try to scroll this area, and see how the sidenav sticks to the page
      </h3>
      <section>
        <p>
          Notice that this div element has a left margin of 25%. This is because
          the side navigation is set to 25% width. If you remove the margin, the
          sidenav will overlay/sit on top of this div.
        </p>
        <p>
          Also notice that we have set overflow:auto to sidenav. This will add a
          scrollbar when the sidenav is too long (for example if it has over 50
          links inside of it).
        </p>
      </section>
    </div>
  </div>
</div>
