<nav class="navbar sticky-top" style="background-color: #563d7c;">
    <h1 class="navbar-brand customBrand">Downloads</h1>

</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-2">
            <div class="row">
                <form class="form-inline my-2 my-lg-0">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <iframe class="h-100" id="sidePanel" <%= link_to downloads_sidePanel_path%>></iframe>
                </div>
            </div>
        </div>
        <div class="col-md-10 col-sm-10 col-xs-10">
            <h3>Sean Download Page</h3>
            <hr />
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, reprehenderit voluptatem? Atque velit,
                odit cupiditate amet odio quia. Veniam nobis aliquam eos reprehenderit similique beatae labore expedita
                porro nam voluptatum!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione magni veritatis, sequi exercitationem
                ipsa eius rem ea dolores doloribus aperiam numquam, error asperiores quisquam dicta voluptatem aliquid
                accusamus dolor odit?
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil, accusamus vero officia iste nesciunt,
                qui vel dolores magnam fugit enim delectus, exercitationem sequi fugiat asperiores quam unde.
                Voluptatum, eius blanditiis.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur impedit eaque nihil, exercitationem
                ipsa distinctio perspiciatis eveniet, reprehenderit ut nisi recusandae commodi dignissimos qui
                excepturi? Odio reprehenderit minus cumque officia.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere rem suscipit sed porro, blanditiis esse
                laboriosam placeat rerum distinctio! Sed, similique tempora consequuntur neque doloribus non. Fuga
                commodi voluptates excepturi.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, reprehenderit voluptatem? Atque velit,
                odit
                cupiditate amet odio quia. Veniam nobis aliquam eos reprehenderit similique beatae labore expedita porro
                nam voluptatum!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione magni veritatis, sequi exercitationem
                ipsa
                eius rem ea dolores doloribus aperiam numquam, error asperiores quisquam dicta voluptatem aliquid
                accusamus
                dolor odit?
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil, accusamus vero officia iste nesciunt,
                qui
                vel dolores magnam fugit enim delectus, exercitationem sequi fugiat asperiores quam unde. Voluptatum,
                eius
                blanditiis.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur impedit eaque nihil, exercitationem
                ipsa distinctio perspiciatis eveniet, reprehenderit ut nisi recusandae commodi dignissimos qui
                excepturi?
                Odio reprehenderit minus cumque officia.
                Lor
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, reprehenderit voluptatem? Atque velit,
                odit cupiditate amet odio quia. Veniam nobis aliquam eos reprehenderit similique beatae labore expedita
                porro nam voluptatum!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione magni veritatis, sequi exercitationem
                ipsa eius rem ea dolores doloribus aperiam numquam, error asperiores quisquam dicta voluptatem aliquid
                accusamus dolor odit?
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil, accusamus vero officia iste nesciunt,
                qui
                vel dolores magnam fugit enim delectus, exercitationem sequi fugiat asperiores quam unde. Voluptatum,
                eius
                blanditiis.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur impedit eaque nihil, exercitationem
                ipsa distinctio perspiciatis eveniet, reprehenderit ut nisi recusandae commodi dignissimos qui
                excepturi?
                Odio reprehenderit minus cumque officia.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere rem suscipit sed porro, blanditiis esse
                laboriosam placeat rerum distinctio! Sed, similique tempora consequuntur neque doloribus non. Fuga
                commodi
                voluptates excepturi.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, reprehenderit voluptatem? Atque velit,
                odit
                cupiditate amet odio quia. Veniam nobis aliquam eos reprehenderit similique beatae labore expedita porro
                nam voluptatum!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione magni veritatis, sequi exercitationem
                ipsa
                eius rem ea dolores doloribus aperiam numquam, error asperiores quisquam dicta voluptatem aliquid
                accusamus
                dolor odit?
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil, accusamus vero officia iste nesciunt,
                qui
                vel dolores magnam fugit enim delectus, exercitationem sequi fugiat asperiores quam unde. Voluptatum,
                eius
                blanditiis.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur impedit eaque nihil, exercitationem
                ipsa distinctio perspiciatis eveniet, reprehenderit ut nisi recusandae commodi dignissimos qui
                excepturi?
                Odio reprehenderit minus cumque officia.
                Lor
            </p>
        </div>
    </div>
</div>