    <div>
        <p>Lorem ipsum dolor sit amet consectetur,
            adipisicing elit. Asperiores similique quod, perferendis
            magni rerum fugit distinctio repudiandae nesciunt. Corporis, at. Dolores
            ratione possimus ea repellendus quaerat provident sunt aspernatur maiores.</p>
    </div>