<div id="wrap">
<%= render 'h_partials/header' %>
<%= render 'h_partials/mobile' %>

<div class="sub-banner">
 <div class="container">
   <div class="row">
     <div class="col-md-12">
       <div class="detail">
        <h1>Web Systems</h1>
        <span>Pick a framework or Language and start learning.</span>
       </div>
     </div>
   </div>
 </div>
 <div class="banner-img"></div>
</div>
<div class="wave"></div>

<!--End Sub Banner-->

<!--Start Content-->
<div class="content">
  <div class="row">
    <div class="col-md-6">
      
      <section class="product">
        <div class="product__photo">
          <div class="photo-container">
            <div class="photo-main">
              <%= image_tag('ruby') %>
            </div>
            <div class="photo-album">
              
            </div>
          </div>
        </div>
        <div class="product__info">
          <div class="title">
            <h1>Ruby</h1>
          </div>
          <div class="description">
            <h3>BENEFITS</h3>
            <ul>
              <li>Apples are nutricious</li>
              <li>Apples may be good for weight loss</li>
              <li>Apples may be good for bone health</li>
              <li>They're linked to a lowest risk of diabetes</li>
            </ul>
          </div>
          <button class="buy--btn">Interested</button>
        </div>
      </section>

    </div>
    <div class="col-md-6">
      <section class="product">
        <div class="product__photo">
          <div class="photo-container">
            <div class="photo-main">
              <img src="https://res.cloudinary.com/john-mantas/image/upload/v1537291846/codepen/delicious-apples/green-apple-with-slice.png" alt="green apple slice">
            </div>
            <div class="photo-album">
              
            </div>
          </div>
        </div>
        <div class="product__info">
          <div class="title">
            <h1>Php</h1>
          </div>
          <div class="description">
            <h3>BENEFITS</h3>
            <ul>
              <li>Apples are nutricious</li>
              <li>Apples may be good for weight loss</li>
              <li>Apples may be good for bone health</li>
              <li>They're linked to a lowest risk of diabetes</li>
            </ul>
          </div>
          <button class="buy--btn">Interested</button>
        </div>
      </section>
    </div>
  </div>
  

</div>
<!--End Content-->
<%= render 'h_partials/footer' %>
<a href="#0" class="cd-top"></a>
</div>
</body>
</html>
