<!-- Mobile Menu Start -->
<div class="container">
    <div id="page">
    <header class="header">
      <a href="#menu"></a>
    </header>

    <nav id="menu">
        <ul>
          <li><%= link_to 'Home',root_path,{method: :GET} %></li>
           <li><%= link_to 'Downloads',downloads_dowloadPage_path,{ method: :GET } %></li>
          <li><a href="https://biwott-portfolio.herokuapp.com/">My Portfolio</a></li>
          <li><%= link_to 'Blog',public_blogs_path,{method: :GET} %></li>
          <li><a href="#contactMe">Contact Me</a></li>
        </ul>
    </nav>
  </div>
</div>
  <!-- Mobile Menu End -->
