<!-- Mobile Menu Start -->
<div class="container">
    <div id="page">
    <header class="header">
      <a href="#menu"></a>
    </header>

    <nav id="menu">
        <ul>
          <li><%= link_to 'Home',root_path,{method: :GET} %></li>
          <li><a href="#">Downloads</a></li>
          <li><a href="#">My Portfolio</a></li>
          <li><%= link_to 'Blog',public_blogs_path,{method: :GET} %></li>
          <li><a href="#contactMe">Contact Me</a></li>
        </ul>
    </nav>
  </div>
</div>
  <!-- Mobile Menu End -->
