* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

canvas {
  background-image: url('banenr-img2-6ef7150f599909fc679d838094bb24a5e6d7854576ad5b58eab431bf344ba579.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#code,
h2 {
  font-weight: 200;
  margin: 0.4em 0;
}

#code {
  font-size: 3.5em;
}

h2 {
  color: #888;
  font-size: 2em;
}